{% extends 'base.html.twig' %}
{% block body %}
<div class="main_picture_div home_picture_div">
    <img src="{{ asset('http://image.noelshack.com/fichiers/2017/17/1493308005-cat-649164.jpg') }}" alt="cat" class="home_picture main_picture">
</div>
<h2>Bedroom's title</h2>
<div class="description_point_box">
    <div class="points">
        <p>Superficie : 18m2</p>
        <p>Tarifs</p>
        <p>
            Nuitée : 20€ <br>
            Weekend : 35€ <br>
            Semaine : 110€ <br>
            Mois : 400€
        </p>
        <p>Lit deux places</p>
        <p>Animaux de compagnie acceptés</p>
    </div>
    <div class="description">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Aliquid architecto atque autem dicta doloribus ex fugiat
            hic id laboriosam laborum magni minima nisi numquam odit
            quaerat quam quas, reiciendis voluptatem!Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Aliquid architecto atque autem dicta doloribus ex fugiat
            hic id laboriosam laborum magni minima nisi numquam odit
            quaerat quam quas, reiciendis voluptatem!Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Aliquid architecto atque autem dicta doloribus ex fugiat
            hic id laboriosam laborum magni minima nisi numquam odit
            quaerat quam quas, reiciendis voluptatem!Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Aliquid architecto atque autem dicta doloribus ex fugiat
            hic id laboriosam laborum magni minima nisi numquam odit
            quaerat quam quas, reiciendis voluptatem!</p>
    </div>
</div>
<div class="picture_container">
    <div class="div_picture">
        <img src="{{ ('http://image.noelshack.com/fichiers/2017/17/1493387626-cat-715910-1920.jpg') }}" alt="picture" class="picture">
    </div>
    <div class="div_picture">
        <img src="{{ ('http://image.noelshack.com/fichiers/2017/17/1493387626-cat-1270657-1920.jpg') }}" alt="picture" class="picture">
    </div>
    <div class="div_picture">
        <img src="{{ ('http://image.noelshack.com/fichiers/2017/17/1493387630-cat-1058095.jpg') }}" alt="picture" class="picture">
    </div>
</div>


{% endblock%}