{% extends 'base.html.twig' %}

{% block body %}

    <div class="main_picture_div home_picture_div">
        <img src="{{ asset('http://image.noelshack.com/fichiers/2017/19/1494416154-cat-1818927-1280.jpg') }}" alt="cat" class="home_picture main_picture">
    </div>
    <h2>Les chambres</h2>
    <div class="block_room">
        <div class="div_picture_block_room">
            <a href="{{ path('bedroom') }}"><img src="{{ ('http://image.noelshack.com/fichiers/2017/17/1493308005-cat-649164.jpg') }}" alt="photo chambre" class="picture_block_room"></a>
            <div class="price_size"><span>18 m²    |    20€/nuit</span></div>
        </div>
        <div class="text_block_room">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
    </div>
    <div class="block_room">
        <div class="div_picture_block_room">
            <img src="{{ ('http://image.noelshack.com/fichiers/2017/17/1493325409-cat-1727356-1920.jpg') }}" alt="photo chambre" class="picture_block_room">
            <div class="price_size"><span>14 m²    |    17€/nuit</span></div>
        </div>
        <div class="text_block_room">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
    </div>

{% endblock %}