{% extends 'base.html.twig' %}

{% block body %}
<html>
<body>
    <div class="main_picture_div">
        <img src="{{ asset('http://image.noelshack.com/fichiers/2017/17/1493298759-door-2096087.jpg') }}" alt="cat" class="main_picture">
    </div>
    <h1 class="homepage_title">Maison d'Hôte</h1>
    <h3>Présentation</h3>
    <div class="introduction">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto corporis dolore eius, fugit iure nemo
            nesciunt non repellendus similique sunt! Aliquam eligendi enim est harum inventore iste quibusdam vero voluptates.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto corporis dolore eius, fugit iure nemo
            nesciunt non repellendus similique sunt! Aliquam eligendi enim est harum inventore iste quibusdam vero voluptates.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto corporis dolore eius, fugit iure nemo
            nesciunt non repellendus similique sunt! Aliquam eligendi enim est harum inventore iste quibusdam vero voluptates.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto corporis dolore eius, fugit iure nemo
            nesciunt non repellendus similique sunt! Aliquam eligendi enim est harum inventore iste quibusdam vero voluptates.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto corporis dolore eius, fugit iure nemo
            nesciunt non repellendus similique sunt! Aliquam eligendi enim est harum inventore iste quibusdam vero voluptates.
        </p>
    </div>


</body>
</html>
{% endblock %}
