{% extends 'base.html.twig' %}

{% block body %}

    <div class="main_picture_div home_picture_div">
        <img src="{{ asset('http://image.noelshack.com/fichiers/2017/17/1493326179-horse-965582-1920.jpg') }}" alt="cat" class="home_picture main_picture">
    </div>
    <h2>L'Équitation</h2>
    {% for i in 0..3  %}
        <div class="block_room">
            <div class="div_picture_block_room">
                <img src="{{ ('http://image.noelshack.com/fichiers/2017/17/1493362276-horse-1010812.jpg') }}" alt="photo chambre" class="picture_block_room">
                <div class="price_size"><span>Ury</span></div>
            </div>
            <div class="text_block_room">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
        </div>
    {% endfor %}


{% endblock %}